<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.comment.CommentMapper">

    <!-- tb_comment 테이블 전체 컬럼 -->
    <sql id="commentColumns">
        id
        , post_id
        , content
        , writer
        , delete_yn
        , created_date
        , modified_date
        , user_id
        , parent

    </sql>


    <!-- 댓글 저장 -->
    <insert id="save" parameterType="com.study.domain.comment.CommentRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_comment (
        <include refid="commentColumns" />
        ) VALUES (
        #{id}
        , #{postId}
        , #{content}
        , #{writer}
        , 0
        , NOW()
        , NULL
        , #{userId}
        , #{parent}
        )
    </insert>


    <!-- 댓글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.study.domain.comment.CommentResponse">
        SELECT
        <include refid="commentColumns" />
        FROM
        tb_comment
        WHERE
        id = #{value}
        and
        delete_yn = 0
    </select>


    <!-- 댓글 수정 -->
    <update id="update" parameterType="com.study.domain.comment.CommentRequest">
        UPDATE tb_comment
        SET
        modified_date = NOW()
        , content = #{content}
        , writer = #{writer}
        WHERE
        id = #{id}
    </update>


    <!-- 댓글 삭제 -->
    <delete id="deleteById" parameterType="long">
        UPDATE tb_comment
        SET
        delete_yn = 1
        WHERE
        id = #{id}
    </delete>


    <!-- 댓글 리스트 조회 -->
    <select id="findAll" parameterType="long" resultType="com.study.domain.comment.CommentResponse">
        WITH RECURSIVE CTE AS (
        SELECT id, post_id, content,writer,delete_yn, created_date,modified_date,user_id,parent, convert(id, char) as path
        FROM tb_comment
        WHERE parent IS NULL
        AND post_id = #{value}
        UNION ALL
        SELECT uc.id, uc.post_id, uc.content,uc.writer,uc.delete_yn, uc.created_date,uc.modified_date,uc.user_id,uc.parent, concat(CTE.id, '-', uc.id) AS path
        FROM tb_comment uc
        INNER JOIN CTE ON uc.parent = CTE.id
        WHERE uc.post_id = #{value}

        )


        SELECT
        <include refid="commentColumns" />
        FROM
        CTE
        where
        delete_yn = 0
        ORDER BY CONVERT(SUBSTRING_INDEX(path, '-', 1), UNSIGNED) ASC, id ASC, CONVERT(SUBSTRING_INDEX(path, '-', 2), UNSIGNED) ASC, id ASC

    </select>

    <select id="count" parameterType="long" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_comment
        WHERE
        id = #{value}
    </select>

</mapper>