<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.post.PostMapper">

    <!-- tb_post 테이블 전체 컬럼 -->
    <sql id="postColumns">
          id
        , title
        , content
        , writer
        , view_cnt
        , notice_yn
        , delete_yn
        , created_date
        , modified_date
        , user_id
        , cate_id
    </sql>


    <!-- 게시글 저장 -->
    <insert id="save" parameterType="com.study.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_post (
            <include refid="postColumns" />
        ) VALUES (
              #{id}
            , #{title}
            , #{content}
            , #{writer}
            , 0
            , #{noticeYn}
            , 0
            , NOW()
            , NULL
            , #{userId}
            , #{cateId}
        )
    </insert>


    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        , (
        SELECT
        cate_title
        FROM
        tb_post e join tb_post_category g
        on e.cate_id=g.id
        WHERE
        e.id = f.id
        )
        as cate_title
        FROM
            tb_post f
        WHERE
            id = #{value}

    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="com.study.domain.post.PostRequest">
        UPDATE tb_post
        SET
              modified_date = NOW()
            , title = #{title}
            , content = #{content}
            , writer = #{writer}
            , notice_yn = #{noticeYn}
        WHERE
            id = #{id}
    </update>

    <update id="updateView">
        UPDATE tb_post
        SET
        view_cnt = view_cnt+1
        WHERE
        id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        UPDATE tb_post
        SET
            delete_yn = 1
        WHERE
            id = #{id}
    </delete>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="com.study.common.dto.SearchDto" resultType="com.study.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
            , (
        SELECT
        cate_title
        FROM
        tb_post e join tb_post_category g
        on e.cate_id=g.id
        WHERE
        e.id = f.id
        )
        as cate_title
        FROM
            tb_post f
        WHERE
            delete_yn = 0
            <include refid="search" />
        ORDER BY
            id DESC
        LIMIT #{pagination.limitStart}, #{recordSize}





    </select>

    <select id="findMyPost" parameterType="com.study.common.dto.SearchDto" resultType="com.study.domain.post.PostResponse">
        SELECT
        <include refid="postColumns" />
        , (
        SELECT
        cate_title
        FROM
        tb_post e join tb_post_category g
        on e.cate_id=g.id
        WHERE
        e.id = f.id
        )
        as cate_title
        FROM
        tb_post f
        WHERE
        delete_yn = 0
        and
        user_id=#{user.id}
        <include refid="search" />
        ORDER BY
        id DESC
        LIMIT #{params.pagination.limitStart}, #{params.recordSize}
    </select>

    <select id="findCate1" parameterType="com.study.common.dto.SearchDto" resultType="com.study.domain.post.PostResponse">
        SELECT
        <include refid="postColumns" />
        , (
        SELECT
        cate_title
        FROM
        tb_post e join tb_post_category g
        on e.cate_id=g.id
        WHERE
        e.id = f.id
        )
        as cate_title
        FROM
        tb_post f
        WHERE
        delete_yn = 0
        and
        cate_id=1
        <include refid="search" />
        ORDER BY
        id DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>

    <select id="findCate2" parameterType="com.study.common.dto.SearchDto" resultType="com.study.domain.post.PostResponse">
        SELECT
        <include refid="postColumns" />
        , (
        SELECT
        cate_title
        FROM
        tb_post e join tb_post_category g
        on e.cate_id=g.id
        WHERE
        e.id = f.id
        )
        as cate_title
        FROM
        tb_post f
        WHERE
        delete_yn = 0
        and
        cate_id=2
        <include refid="search" />
        ORDER BY
        id DESC
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>


    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="com.study.common.dto.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_post
        WHERE
            delete_yn = 0
        <include refid="search" />
    </select>

    <select id="countMyPost" parameterType="Long" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_post
        WHERE
        delete_yn = 0
        and
        user_id=#{value}
        <include refid="search" />
    </select>

    <select id="count1" parameterType="com.study.common.dto.SearchDto" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_post
        WHERE
        delete_yn = 0
        and
        cate_id=1
        <include refid="search" />
    </select>

    <select id="count2" parameterType="com.study.common.dto.SearchDto" resultType="int">
        SELECT
        COUNT(*)
        FROM
        tb_post
        WHERE
        delete_yn = 0
        and
        cate_id=2
        <include refid="search" />
    </select>

    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="keyword != null and keyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                    <choose>
                        <when test="'title'.equals( searchType )">
                            AND title LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'content'.equals( searchType )">
                            AND content LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                        <when test="'writer'.equals( searchType )">
                            AND writer LIKE CONCAT('%', #{keyword}, '%')
                        </when>
                    </choose>
                </when>
                <!-- 전체 검색일 때 때 -->
                <otherwise>
                    AND (
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR content LIKE CONCAT('%', #{keyword}, '%')
                    OR writer LIKE CONCAT('%', #{keyword}, '%')
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

</mapper>
