<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.domain.user.UserMapper">

    <!-- tb_comment 테이블 전체 컬럼 -->
    <sql id="userColumns">
        id
        , username
        , nickname
        , password
        , email
        , created_date
        , modified_date
    </sql>

    <insert id="save" parameterType="com.study.domain.user.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user (
        <include refid="userColumns" />
        ) VALUES (
        #{id}
        , #{username}
        , #{nickname}
        , #{password}
        , #{email}
        , NOW()
        , NULL
        )
    </insert>

    <select id="findById" resultType="com.study.domain.user.User">
        SELECT
        <include refid="userColumns" />
        FROM
        tb_user
        WHERE
        id = #{value}
    </select>

    <select id="findByUsername" resultType="com.study.domain.user.User">
        SELECT
        <include refid="userColumns" />
        FROM
        tb_user
        WHERE
        username = #{value}
    </select>

    <select id="existsByEmail" parameterType="com.study.domain.user.User" resultType="java.lang.Boolean">
        SELECT
        IF(COUNT(*) = 1, 1, 0)
        FROM
        tb_user
        WHERE
        email = #{value}
    </select>

    <select id="existsByNickname" parameterType="com.study.domain.user.User" resultType="java.lang.Boolean">
        SELECT
        IF(COUNT(*) = 1, 1, 0)
        FROM
        tb_user
        WHERE
        nickname = #{value}
    </select>

    <select id="existsByUsername" parameterType="com.study.domain.user.User" resultType="java.lang.Boolean">
        SELECT
        IF(COUNT(*) = 1, 1, 0)
        FROM
        tb_user
        WHERE
        username = #{value}
    </select>




</mapper>