<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>게시글 상세정보</h3>
  </div>

  <div class="content">
    <section>
      <table class="tb tb_row">
        <colgroup>
          <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
        </colgroup>
        <tbody>

        <th scope="row">카테고리</th>
        <td colspan="3" th:text="${post.cateTitle}"></td>

        <tr>
          <th scope="row">글 유형</th>
          <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>

          <th scope="row">등록일</th>
          <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
        </tr>
        <tr>
          <th scope="row">제목</th>
          <td>[[ ${post.title} ]]</td>

          <th scope="row">조회</th>
          <td colspan="3">[[ ${post.viewCnt} ]]</td>
        </tr>
        <tr>
          <th scope="row">이름</th>
          <td colspan="3">[[ ${post.writer} ]]</td>
        </tr>
        <tr>
          <th scope="row">내용</th>
          <td colspan="3">
            <pre>
              [[ ${post.content} ]]
            </pre>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="btn_set">
        <button th:if="${post.userId==user.id}" type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
        <button th:if="${post.userId==user.id}" type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제</button>
        <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
      </p>
    </section>
  </div> <!--/* .content */-->
  <!-- Comment -->
  <h4>댓글<span>(<span id="count"></span>)</span></h4>
  <div class="mb-5">
    <div id="comment">
    </div>

    <form>
      <input type="hidden" name="id" th:value="${post.id}">
      <div class="mb-3">
        <label for="content" class="form-label"></label>
        <textarea class="form-control" id="content" name="content" rows="4"
                  placeholder="댓글을 작성해주세요."></textarea>
      </div>
      <button type="submit" class="btns btn_bdr1 btn_mid" onclick="insertComment()">작성</button>
    </form>
  </div>


</th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<th:block layout:fragment="script">
  <script th:inline="javascript">



          $(document).ready(function () {
            getComments()
        })

        		// 댓글 리스트 불러오기
		function getComments() {
			var loginUsername = [[${ user.nickname }]];
			var boardId = $('input[name=id]').val();
			var url = '/comments/' + boardId;


			$.ajax({
				type: 'GET',
				url: url,
				success: function (response) {
					var a = ''
					var size = 0
					$.each(response, function (key, value) {
						size = size + 1;
						if(value.parent==null){
						  a += '<hr /><div>';
						}
						else{
						  a += '<hr /><div style="float:left;">ㄴ</div><div style="margin-left:20px;">';
						}

						a += '<input type="hidden" id="commentId" name="commentId" value="' + value.id + '">';
						a += '<span id="writer" style="font-weight: bold; margin-right: 10px">' + value.writer + '</span>';
						if(value.modifiedDate!=null){
						  a+='<span style="font-weight: bold; padding: 10px;">' + " (댓글 수정됨) " + '</span>';
						}
						if (value.writer == loginUsername) {
							a += '<ul name="commentChange" class="justify-content-end" style="display: inline;">';
							a += '<li class="btns btn_bdr5 btn_mid" name="commentUpdate" type="button" style="display: inline; opacity: 0.7; font-size: small; margin-right: 5px" onclick="updateCommentForm(' + value.id + ')">수정</li>';
							a += '<li class="btns btn_bdr5 btn_mid" name="commentDelete" type="button" style="display: inline; opacity: 0.7; font-size: small; margin-right: 5px" onclick="deleteComment(' + value.id + ')">삭제</li></ul>';
						}
						if(value.parent == null){
						    a += '<li class="btns btn_bdr5 btn_mid" name="commentDelete" type="button" style="display: inline; opacity: 0.7; font-size: small;" onclick="insertCommentComment(' +value.id + ')">대댓글</li></ul>';
						}

						a += '<pre id="' + value.id + '" name="comment' + value.id + '" style="margin-bottom: 5px; font-size: large;">' + value.content + '</pre>';
						a += '<p name="createDate' + value.id + '" style="margin-bottom: 5px; opacity: 0.5; font-size: small;">' + value.createdDate.replace('T',' ') + '</p></div>';
					});
					$("#count").html(size);
					$("#comment").html(a);
				},
				error: function (response) {
					console.log("getComments error : " + response);
				}
			})
		}

		// 댓글 작성
		function insertComment() {
			var boardId = $('input[name=id]').val();
			var content = document.getElementById("content").value;
			var param = { "content": content ,
			              "parent": 0}
			var url = '/comments/' + boardId;

			if (isEmpty(content) == true) {
				alert("댓글을 입력해주세요.");
				return false;
			} else {
				$.ajax({
					contentType: 'application/json',
					type: 'POST',
					url: url,
					data: JSON.stringify(param),
					success: function (response) {
					    alert("댓글을 작성했습니다.");
						getComments();
					},
					error: function (response) {
						console.log("insertComment error : " + response);
					},
				})
			}
		}


		// 대댓글 작성
		function insertCommentComment(parent) {
			var boardId = $('input[name=id]').val();
			var content = document.getElementById("content").value;
			var param = { "content": content , "parent": parent}
			var url = '/comments/' + boardId;

			if (isEmpty(content) == true) {
				alert("댓글을 입력해주세요.");
				return false;
			} else {
				$.ajax({
					contentType: 'application/json',
					type: 'POST',
					url: url,
					data: JSON.stringify(param),
					success: function (response) {
					    alert("댓글을 작성했습니다.");
						getComments();
					},
					error: function (response) {
						console.log("insertComment error : " + response);
					},
				})
			}
		}

        function updateCommentForm(id) {
			var commentId = id;
			var content = document.getElementById(id).innerText;

			$('ul[name=commentChange]').hide();
			$('pre[name=comment' + commentId + ']').contents().unwrap().wrap('<textarea id="newComment" class="form-control mt-2" name="updateContent" rows="4"></textarea>');
			$('p[name=createDate' + commentId + ']').contents().unwrap().wrap('<input name="update" type="button" class="btns btn_bdr3 btn_mid" style="width:49px;height:32px;font-size:13px;margin-right:5px;" value="수정" onclick="updateComment(' + commentId + ')"/>');
			$('input[name=update]').after("<button class=\"btns btn_bdr3 btn_mid\" onclick=\"getComments()\">취소</button>");
		}

        function updateComment(id) {
			var commentId = id;
			var content = document.getElementById("newComment").value;
			var param = { "content": content }
			var url = '/comments/' + commentId;

			if (isEmpty(content) == true) {
				alert("댓글을 입력해주세요.");
				return false;
			} else {
				$.ajax({
					contentType: 'application/json',
					type: 'PATCH',
					url: url,
					data: JSON.stringify(param),
					success: function (response) {
						getComments();
					},
					error: function (response) {
						console.log("updateComment error : " + response);
					}
				})
			}
		}


		function deleteComment(id) {
			var commentId = id;
			var url = '/comments/' + commentId;

			if (confirm("정말 삭제하시겠습니까?")) {
				$.ajax({
					type: 'DELETE',
					url: url,
					success: function (response) {
						getComments();
					},
					error: function (response) {
						console.log("deleteComment error : " + response);
					}
				})
			} else {
				return;
			}
		}


        function isEmpty(strIn) {
			if (strIn === undefined) {
				return true;
			}
			else if (strIn == null) {
				return true;
			}
			else if (strIn == "") {
				return true;
			}
			else {
				return false;
			}
		}

          /*<![CDATA[*/

 // 게시글 삭제
        function deletePost() {

            const id = [[ ${post.id} ]];
            if ( !confirm(id + "번 게시글을 삭제할까요?") ) {
                return false;
            }

            let inputHtml = '';
            new URLSearchParams(location.search).forEach((value, key) => {
                inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
            })

            const formHtml = `
                <form id="deleteForm" action="/post/delete.do" method="post">
                    ${inputHtml}
                </form>
            `;

            const doc = new DOMParser().parseFromString(formHtml, 'text/html');
            const form = doc.body.firstChild;
            document.body.append(form);
            document.getElementById('deleteForm').submit();
        }


            // 게시글 리스트 페이지로 이동
        function goListPage() {
            const queryString = new URLSearchParams(location.search);
            queryString.delete('id');
            location.href = '/post/list.do' + '?' + queryString.toString();
        }

                // 게시글 수정 페이지로 이동
        function goWritePage() {
            location.href = '/post/write.do' + location.search;
        }

    /*]]>*/
  </script>
</th:block>
</html>