<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>회원 가입</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>회원가입</h3>
    </div>

<div id="posts_list">
        <div class="container col-md-8">
        
            <form id="joinForm" action="/auth/joinProc" method="post">
                <div class="form-group">
                    <label for="username">아이디<br></label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="아이디를 입력해주세요" style="width:400px;height:40px;">
                    <div th:if="${valid_username!=null}">
                        <span style="color:red;padding:5px;" th:text="${valid_username}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">비밀번호<br></label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력해주세요" style="width:400px;height:40px;">
                    <div th:if="${valid_password!=null}">
                        <span style="color:red;padding:5px;" th:text="${valid_password}"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="nickname">닉네임<br></label>
                    <input type="text" name="nickname" id="nickname" class="form-control" placeholder="닉네임을 입력해주세요" style="width:400px;height:40px;">
                    <div th:if="${valid_nickname!=null}">
                        <span style="color:red;padding:5px;" th:text="${valid_nickname}"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email">이메일<br></label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요" style="width:400px;height:40px;">
                    <div th:if="${valid_email!=null}">
                        <span style="color:red;padding:5px;" th:text="${valid_email}"></span>
                    </div>
                </div>

                <button type="submit" class="btns btn_bdr2 btn_mid">회원가입</button>
                <a href="/post/list.do" role="button" class="btns btn_bdr2 btn_mid"> 목록</a>
            </form>
        </div>
</div>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
            getUserDto();
        }


        function getUserDto() {
            const dto = [[ ${userDto}]];

            if (!dto) {
                return false;
            }

            const form = document.getElementById('joinForm');
            const fields = ['username', 'password', 'nickname', 'email'];



            fields.forEach(field => {
                form[field].value = dto[field];
            })
        }


        /*]]>*/
    </script>
</th:block>

</html>