<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">

<head>
    <meta charset="UTF-8">
</head>

<th:block layout:fragment="title">
    <title>회원정보 수정</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>회원정보 수정</h3>
    </div>


    <div id="posts_list">
        <div class="container col-md-6">


            <form id="modifyForm" action="/modify/update.do">
                <input type="hidden" id="id" name="id" th:value="${user.id}"/>

                <div class="form-group">
                    <label th:for="password">이메일(변경이 불가능합니다)<br></label>
                    <input type="text" class="form-control" name="email" id="email" th:value="${user.email}" style="width:400px;height:40px;" readonly/>
                </div>

                <div class="form-group">
                    <label th:for="username">아이디(변경이 불가능합니다)<br></label>
                    <input type="text" class="form-control" name="username" id="username" th:value="${user.username}" style="width:400px;height:40px;" readonly/>
                </div>

                <div class="form-group">
                    <label th:for="password">비밀번호<br></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 변경해주세요" style="width:400px;height:40px;">
                </div>

                <div class="form-group">
                    <label th:for="nickname">닉네임<br></label>
                    <input type="text" class="form-control" name="nickname" id="nickname" th:value="${user.nickname}" placeholder="변경하고 싶은 닉네임으로 입력해주세요" style="width:400px;height:40px;">
                </div>


                <button type="submit" onclick="modifyUser()" class="btns btn_bdr2 btn_mid"> 회원정보 변경</button>
                <a href="/" role="button" class="btns btn_bdr3 btn_mid">목록</a>
            </form>
        </div>
    </div>

</th:block>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/




            function modifyUser(){

                const data=document.getElementById('modifyForm');

                data.id.value=document.getElementById("id").value;
                data.nickname.value=document.getElementById("nickname").value;
                data.password.value=document.getElementById("password").value;



                if(!data.nickname.value || data.nickname.value.trim() === "" || !data.password.value || data.password.value.trim() === "") {
            alert("공백 또는 입력하지 않은 부분이 있습니다.");
            return false;
        } else if(!/(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[#?!@$%^&*-]).{8,16}/.test(data.password.value)) {
            alert("비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
            return false;
        } else if(!/^[ㄱ-ㅎ가-힣a-z0-9-_]{2,10}$/.test(data.nickname.value)) {
            alert("닉네임은 특수문자를 제외한 2~10자리여야 합니다.");
            return false;
        }

            }

        /*]]>*/
    </script>
</th:block>

</html>